* {box-sizing: border-box}
/* Style the tab */
.ad_main { margin: 25px 5px; display: block; position: relative;}

.ad_tab {float: left;border: 0px solid #ccc;background-color: #f1f1f1;width: 35%;height: 352px;}

/* Style the buttons inside the tab */
.ad_tab a {display: block;background-color: inherit;color: black;padding: 24px 16px;width: 100%;border: none;outline: none;text-align: left;cursor: pointer;transition: 0.3s;font-size: 17px; text-decoration: none;}

/* Change background color of buttons on hover 
.ad_tab a:hover {background-color: #ddd;text-decoration: none;}*/

/* Change background color of buttons on hover */
.ad_tab a.ad_disable {text-decoration: none; color: #0000003d; cursor: no-drop;}

/* Create an active/current "tab button" class */
.ad_active {background-color: #ccc; color: #000; text-decoration: none;}

/* Style the tab content */
.ad_tabcontent {float: left; padding: 0px 12px;  border: 0px solid #ccc; width: 63%; border-left: none; height: 352px;}

/* The Modal (background) */
.ad_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.ad_modal-content { background-color: #fefefe; margin: auto;  padding: 20px;  border: 1px solid #888;  width: 50%;}

/* The Close Button */
.ad_close {  color: #aaaaaa;  float: right;  font-size: 28px;  font-weight: bold;}

.ad_close:hover, .ad_close:focus {  color: #000;  text-decoration: none;  cursor: pointer; }

/* css for new design */
.ad_main button.tablink::after, .ad_main button.tablink::before {content: '';width: 100%;height: 1px;background: #ccc;position: absolute;max-width: 96.5%;top: 63px;right: -23px;}

.ad_main button.tablink {
background: #fff !important;
border-top: 1px solid #ccc !important;
border-bottom: 0;
border-right: 1px solid #ccc !important;
border-left: 1px solid #ccc !important;
padding: 5px 10px !important;
display: block !important;
}


.ad_main button.tablink::before {
    max-width: 4.2%;
    left: -45px;
}
.ad_free_setting {
    width: 70%;
    float: left;
    margin-top: 30px;
}

.ad_free_setting .ad_tab .ad_active {
    background: #ccc !important;
    padding: 18px 16px !important;
}
.ad_free_setting .ad_tab a {
    background: #ebebeb;
}
.ad_free_setting .ad_tabcontent ol li {
    font-size: 12px;
}


/* descrition right sied */
.ad_free_info {
    margin-top: 30px;
    border-left: 1px solid #ccc;
    width: 35%;
    display: block;
    float: right;
    padding: 0 25px;
}
.ad_free_info .adtrails_logo {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.adtrails_logo h3 {
    margin: 7px 0;
    font-size: 16px;
    font-weight: 700;
    color: #6c6c6c;
}
.ad_free_info .adtrails_logo p {
    font-size: 16px;
}
.ad_free_info .adtrails_logo p a {
    color: #254cf4;
    font-weight: 600;
}
.ad_plugin_desc h4 {
    font-size: 16px;
    color: #000;
}
.ad_plugin_desc p.ad_para1 {
    padding-bottom: 20px;
}
.ad_free_setting {
width:65%;
}
a.ad_activate_btn {
    position: absolute;
    top: 250px;
    left: 150px;
    padding: 10px 35px;
    background: green;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 17px;
    text-decoration: none;
}